body {
  background: #222;
  color: #eee;
  font-family: "Courier New", Courier, monospace;
  padding: 2em;
}

h1 {
  text-align: center;
  font-family: ;
  font-size: ;
}

.display {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #500b47;
  width: 80vh;
  height: 40vh;
  margin: 0 auto;
  background-image: url("../img/scene/0.png");
  background-position: center; /*  center the image */
  background-repeat: no-repeat; /*  prevent tiling */
  background-size: contain; /*  scale image to fit inside box */
  transition: opacity 1s ease; /* adjust duration as needed */
  opacity: 1;
}

.form {
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-direction: row;
  gap: 10px;
  height: 5vh;
  margin: 2.5vh;
  margin-top: 1%;
  /* background-color: chocolate; */
}

.input {
}

:root {
  --bg: #ff95f6; /* main face color */
  --edge: #500b47; /* hard edge / outline */
  --shade: #77006d; /* darker stripe */
  --shadow: #1f0b0b; /* drop shadow */
  --padding: 14px 22px;
  --border-size: 5px;
  --radius: 2px;
}

.nextBtn,
.input {
  font-family: "Press Start 2P", monospace;
  font-size: 15px;
  text-align: center;
  letter-spacing: 1px;
  padding: var(--padding);
  color: rgb(255, 252, 254);
  background: linear-gradient(to bottom, var(--bg) 0%, var(--shade) 70%);
  border: var(--border-size) solid var(--edge);
  border-radius: var(--radius);
  box-shadow: calc(var(--border-size) * 1.2) calc(var(--border-size) * 1.2) 0 0
    var(--shadow); /* hard drop shadow */
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block;
  line-height: 1;
  image-rendering: pixelated; /* works for pixel images */
  transition: transform 0.06s linear, box-shadow 0.06s linear;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
}

/* pressed effect on active */
.nextBtn:active,
.input:active {
  transform: translate(
    calc(var(--border-size) * 0.8),
    calc(var(--border-size) * 0.8)
  );
  box-shadow: calc(var(--border-size) * 0.4) calc(var(--border-size) * 0.4) 0 0
    var(--shadow);
}

/* keyboard focus */
.nextBtn:focus {
  /* outline: 3px dashed #fff8; visible focus */
  outline-offset: 6px;
}

.input:disabled,
button:disabled {
  opacity: 0.5;
}

pre {
  font-size: 1.2em;
  line-height: 1.1;
  letter-spacing: 1px;
}

#cat {
  z-index: -1;
}

#mouse {
  margin-right: 0px;
}

.dialog {
  white-space: pre-wrap; /* preserves spaces and line breaks */
  text-align: center;
  font-family: ;
  font-size: 2.5rem;
  font-weight: bold;
}

.noti {
  color: #eee;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 2rem;
}
